

h1 {
    text-align: center;
    text-size-adjust: 200px;
}
div{
    padding: 10px;
    border: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top{
    background-color: lightblue;
   

}
.center{
    background-color: lightgreen;

}
.bottom{
    background-color: lightseagreen;
}


img.octocat {
    height: 200px;
}
footer{
    text-align: center;
    color: red;
}